<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div layout:fragment="~{content}" th:remove="tag">
    <div class="container">
        <section class="hero is-fullheight">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <th:block th:if="${msg != null}">
                        <article class="message is-success">
                            <div class="message-body">
                                <p th:text="${msg}"></p>
                            </div>
                        </article>
                    </th:block>

                    <th:block th:if="${error != null}">
                        <article class="message is-danger">
                            <div class="message-body">
                                <p th:text="${error}"></p>
                            </div>
                        </article>
                    </th:block>

                    <div class="column is-4 is-offset-4">
                        <h3 class="title has-text-grey">Login</h3>
                        <p class="subtitle has-text-grey">Please login to proceed.</p>
                        <div class="box">
                            <form th:action="@{/auth/login}" method="post">
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-large" type="text" name="username"
                                               placeholder="Your Login" autofocus="">
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="control">
                                        <input class="input is-large" type="password" id="password" name="password"
                                               placeholder="Your Password">
                                    </div>
                                </div>
                                <button type="submit" class="button is-block is-info is-large is-fullwidth">Login
                                </button>
                            </form>
                        </div>
                        <p class="has-text-grey">
                            <a href="/auth/register">Sign Up</a> &nbsp;·&nbsp;
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>