<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div layout:fragment="~{content}" th:remove="tag">
    <div class="container">
        <section class="hero is-fullheight">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-4 is-offset-4">
                        <th:block th:if="${error != null}">
                            <article class="message is-danger">
                                <div class="message-body">
                                    <p th:text="${error}"></p>
                                </div>
                            </article>
                        </th:block>
                        <h3 class="title has-text-grey">Registration</h3>
                        <div class="box">
                            <form th:action="@{/auth/register}" method="post">
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-large" type="text" name="login" placeholder="Your Login" autofocus="">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-large" type="password" name="password" placeholder="Your Password">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-large" type="text" name="info.firstName" placeholder="Your FirstName">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-large" type="text" name="info.lastName" placeholder="Your LastName">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-large" type="text" name="info.middleName" placeholder="Your MiddleName">
                                    </div>
                                </div>
                                <button type="submit" class="button is-block is-info is-large is-fullwidth">Register</button>
                            </form>
                        </div>
                        <p class="has-text-grey">
                            <a href="/auth/login">Sign In</a> &nbsp;·&nbsp;
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>